<h1>About</h1>
<p> <%= link_to "The Brahminator", root_path %> is a project to live a (better) life as a Brahmin developed by <%= link_to "gurupanguji", "http://gurupanguji.net" %>. 
<p>This page will be developed better and soon to better explain why this project exists.</p>
